<% include partials/header %>

<div class="container text-right">
	<a href="/login" class="btn btn-md btn-primary">Login</a>
	<a href="/register" class="btn btn-md btn-primary">Sign Up</a>
</div>

<div class="jumbotron text-center">
	<h1>justWatched</h1>
	<h3>Landing Page</h3>
</div>

