<% include partials/header %>

<div class="jumbotron text-center">
	<h1>justWatched</h1>
	<h3>Landing Page</h3>
</div>

<div class="container">
	<form class="form-inline form-horizontal" style="text-align: center;" action="/search" method="GET">
		<div class="form-group">
			<label for=""></label>
			<input class="form-control" type="text" name="movieTitle" placeholder="Search with movie title...">
		</div>
		<button class="btn btn-primary" type="submit">Search Movie</button>
	</form>
</div>

<% include partials/footer %>