<% include partials/header%>

<div class="container">
	<form action="/register" method="POST">
		<div class="form-group">
			<label for="username">Username:</label>
			<input class="form-control" id="username" type="text" placeholder="Enter your username...">
		</div>
		<div class="form-group">
			<label for="email">E-Mail Address:</label>
			<input type="email" class="form-control" id="email" placeholder="Enter your e-mail address...">
		</div>
		<div class="form-group">
			<label for="password">Your Password:</label>
			<input type="password" class="form-control" id="password" placeholder="Enter your password...">
		</div>
		<button class="btn btn-primary btn-md">Submit</button>
	</form>
</div>

