<% include ../partials/header %>

<div class="container" style="{text-align: center;}">
    <h3>Diary Page of <%= currentUser.username %></h3>
    <table class="table-hover">
        <thead>
            <tr>
                <th>Month</th>
                <th>Day</th>
                <th>Movie</th>
                <th>Released</th>
                <th>Rating</th>
                <th>Like</th>
                <th>Rewatch</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>January</td>
                <td>15th</td>
                <td>Wonder Woman</td>
                <td>2nd June 2017</td>
                <td>4.5 / 5.0</td>
                <td>22 likes</td>
                <td>Rewatched</td>
            </tr>
        </tbody>
    </table>
</div>



<% include ../partials/footer %>