<% include ../partials/header %>

<div class="container">
    <form action="/movies" method="POST">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-1 control-label" for="imdb-id">IMDB ID</label>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="imdbID" id="imdb-id">
                </div>                
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="title">Title</label>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="title" id="title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="year">Year</label>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="year" id="year">
                </div>
            </div>
        </div>
        <button class="btn btn-primary">Save Movie to DB</button>
    </form>    
</div>


<% include ../partials/footer %>